<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUDMahasiswaCRUD.Properties.Settings.DBAkademiADOConnectionString"
            connectionString="Data Source=DESKTOP-0FQM93C\HUSENNABIL;Initial Catalog=DBAkademiADO;User ID=sa;Password=nbllrmdn2396!;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>